.wrapper{
  margin-top: 1rem;
}

.wrapper >  .list > .list__btn{
  /* background-color: #000; */
  /* width: 1000px; */
  margin: 0em;
}

.wrapper__add >a{
  margin-left: 1rem;
}




.list__btn > a{
  /* background-color: #000; */
  width:  15rem;

}